[user]
	name = Rohan Mahajan
	email = rohanmahajan1993@gmail.com

[github]
	user = rohanmahajan1993
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
  browse = "!f() { REPO_URL=$(git config remote.origin.url); open ${REPO_URL%%.git}; }; f"
